body{
    background-color: aquamarine;
}
h3{
    font-size: 40px;
}

/*media query--breakpoint-600px */
@media screen and (min-width:600px) {
    body{
        background-color: blueviolet;
    }
}

@media screen and (max-width:800px)  {
    h3{
        font-size:20px
    }
}

